/* modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    background-color: white;
    width: 600px;
    padding: 20px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    overflow: auto;
}

button {
    cursor: pointer;
}

.modal-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 670px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    gap: 0px;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.icon-btn {
    background: none;
    border: none;
    padding: 5px;
    font-size: 21px;
    
}

.icon-btn:focus {
    outline: none;
}

.modal-wrapper h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 30.5px;
    font-size: 26px;
    margin: 20px 0 0 0;
}

.modal-wrapper h3, .addPhoto, .btn-txt, form label, form input, form select {
    font-family: 'Work Sans';
}

.ajout-photo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background-color: #E8F1F6;

}

.fa-image {
    margin-top: 20px;
    color: #B9C5CC;
    font-size: 76px;
}

.addPhoto {
    margin-top: 5px;
    background: #B9C5CC;
    color: #306685;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    border-style: none;
}

.btn-txt {
    margin: 5px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.73px;
    color: #444444;
}

.modal form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

form label {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;

}

form input,
form select {
    margin-top: 5px;
    width: 420px;
    height: 51px;
    box-shadow: 0px 4px 14px 0px #00000017;
    border-style: none;

}

.ligne {
    height: 0px;
    width: 420px;
    border: 1px solid #B3B3B3;
    margin: 30px 0 0 0;
}

.submitValider {
    margin: 30px auto 0 auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #FFFFFF;
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background: #A7A7A7;
    border-style: none;
    font-family: 'Syne';

}
