/* modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-to-add {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 670px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: #FFF;
    padding: 25px;
    border-radius: 10px;
    margin-top: 100px;
    gap: 0px;
}

button {
    cursor: pointer;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}

.icon-btn {
    background: none;
    border: none;
    padding: 5px;
    font-size: 21px;

}

.icon-btn:focus {
    outline: none;
}

.modal-to-add h3, .hiddenModal h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 30.5px;
    font-size: 26px;
    margin: 15px 0 0 0;
}

.modal-to-add h3, .addPhoto, .btn-txt, form label, form input, form select, .hiddenModal h3 {
    font-family: 'Work Sans';
}

.ajout-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background-color: #E8F1F6;
    margin-bottom: 10px;

}

.fa-image {
    margin-top: 20px;
    color: #B9C5CC;
    font-size: 76px;
}

.addPhoto {
    margin-top: 5px;
    background: #B9C5CC;
    color: #306685;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    border-style: none;
    z-index: 0;
    position: relative;
}

.btn-txt {
    margin: 5px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.73px;
    color: #444444;
}

.modal form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

form label {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    margin-top: 20px;

}

form input,
form select {
    margin-top: 10px;
    width: 420px;
    height: 51px;
    box-shadow: 0px 4px 14px 0px #00000017;
    border-style: none;

}

.ligne {
    height: 0px;
    width: 420px;
    border: 1px solid #B3B3B3;
    margin: 45px 0 0 0;
}

.submitValider, .hiddenModal .btn-add-photo {
    margin: 32px auto 0 auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #FFFFFF;
    width: 237px;
    height: 36px;
    border-radius: 60px;
    background: #A7A7A7;
    border-style: none;
    font-family: 'Syne';

}

/* hidden modal */

.hiddenModal {
    display: none; 
    overflow: auto;
    flex-direction: column;
    align-items: center;
    width: 630px;
    height: 670px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background-color: #FFF;
    padding: 25px;
    border-radius: 10px;
    margin-top: 100px;
    gap: 0px;
}

.hiddenModal .ligne {
    margin-top: 65px;
}

.hiddenModal .btn-add-photo {
    margin-top: 38px;
    background-color: #1D6154;
}

.gallerie {
    margin-top: 45px;
    width: 421px;
	display: grid;
	grid-template-columns: 77px 77px 77px 77px 77px;
	grid-column-gap: 10px;
	grid-row-gap: 29px;

}

.gallerie img {
    display: flex;
    justify-content: center;
    width: 77px;
    height: 102.5px;
}

.hiddenModal .icones {
    justify-content: flex-end;
    align-items: center;
}

.fa-trash-can {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 9px;
}

.trash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6.5px;
    right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #000000;
}

.imgUpload {
    max-width: 100%;
    max-height: 169px;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.ajout-photo i, .ajout-photo button, .ajout-photo p {
    z-index: 0;
    position: relative;
}

.messErreur {
    margin-top: 15px;
    color: red;
}